input[type='range'] {
	--slider-height: 6px;
	--slider-width: 100%;
	--thumb-height: 12px;
	--thumb-width: 12px;
	--slider-color-p: #979797;
	--slider-color-d: #231651;
	--slider-color-s: #6352ff;
	--thumb-color: #231651;
	--border-radius: 20px;
}

/* =======/\======= */

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type='range'] {
		-webkit-appearance: none;
		width: var(--slider-width);
		height: var(--slider-height);
		background-color: var(--slider-color-p);
		border-radius: var(--border-radius);
	}

	input[type='range']::-webkit-slider-runnable-track {
		-webkit-appearance: none;
		height: var(--slider-height);
		color: var(--slider-color-s);

	}

	input[type='range']::-webkit-slider-thumb {
		width: 0px;
		-webkit-appearance: none;
		height: var(--slider-height);
	}
}

/* =======/\======= */


/* =======/Firefox\======= */
input[type="range"]::-moz-range-progress {
	background-color: var(--slider-color-d);
	border-radius: var(--border-radius);
	height: var(--slider-height);
}
input[type="range"]:hover::-moz-range-progress {
	background-color: var(--slider-color-s);
	border-radius: var(--border-radius);
}
input[type="range"]::-moz-range-thumb {
	height: 0;
	width: 0;
	border: none;
}

input[type="range"]:hover::-moz-range-thumb {
	height: var(--thumb-height);
	width: var(--thumb-width);
	border: none;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	background-color: var(--thumb-color);
}

/* =======/\======= */


/* =======/Internet Explorer\======= */
input[type="range"]::-ms-fill-lower {
	background-color: var(--slider-color-s);
}

input[type="range"]::-ms-fill-upper {
	background-color: var(--slider-color-p);
}

/* =======/\======= */